<div id="emp_photo">
    <img src="/static/images/{{ args['image'] }}" alt="{{ args['name'] }}" width="150" height="150"/>
</div>
<div id="emp_data">
    <div id="emp_name">{{ args['name'] }}</div>
    <div id="emp_id_data">
        <span id="id_key">Employee ID : </span>
        <span id="id_value">{{ args['employee_id'] }}</span>
    </div>
    <div id="emp_job_data">
        <span id="job_key">Job : </span>
        <span id="job_value">{{ args['job_title'] }}</span>
        <button type="button" id="job_button" onclick="performOperation('job_dialog',{{ args['employee_id'] }})">Change
            Job
        </button>
    </div>
    <div id="emp_dept_data">
        <span id="dept_key">Department : </span>
        <span id="dept_value">{{ args['department_name'] }}</span>
        <button type="button" id="department_button"
                onclick="performOperation('department_dialog',{{ args['employee_id'] }})">Change department
        </button>
    </div>
    <div id="emp_sal_data">
        <span id="sal_key">Salary : </span>
        <span id="sal_value">{{ args['salary'] }}</span>
        <button type="button" id="salary_button" onclick="performOperation('salary_dialog',{{ args['employee_id'] }})">
            Change salary
        </button>
    </div>
</div>
<div id="emp_oper">
    <button type="button" id="hier_button" onclick="performOperation('hierarchy_dialog',{{ args['employee_id'] }})">
        Display management hierarchy
    </button>
    <button type="button" id="sub_button" onclick="performOperation('subalterns_dialog',{{ args['employee_id'] }})">
        Display subordinates
    </button>
    <button type="button" id="entho_button" onclick="performOperation('entholidays_dialog',{{ args['employee_id'] }})">
        Change entitlement to holidays
    </button>
    <button type="button" id="absence_button" onclick="performOperation('holidays_dialog',{{ args['employee_id'] }})">
        Enter absence
    </button>
    <button type="button" id="jobhis_button" onclick="performOperation('job_history_dialog',{{ args['employee_id'] }})">
        View Job History
    </button>
    <button type="button" id="alldep_button" onclick="performOperation('all_departments_dialog')">Edit Departments
    </button>
    <button type="button" id="alljob_button" onclick="performOperation('all_jobs_dialog')">Edit Jobs</button>
</div>
