<table class="table-clickable sortable" id="employee_table">
    <thead>
        <tr>
            <th onclick="sortTable(0)">First Name</th>
            <th onclick="sortTable(1)">Last Name</th>
            <th onclick="sortTable(2)">Email</th>
            <th onclick="sortTable(3)">Phone</th>
            <th onclick="sortTable(4)">Job title</th>
            <th onclick="sortTable(5)">Department</th>
            <th onclick="sortTable(6)">City</th>
            <th onclick="sortTable(7)">Country</th>
            <th onclick="sortTable(8)">Region</th>
        </tr>
    </thead>
    <tbody>
        {% for emp in employees_list %}
            <tr id="{{ emp['employee_id'] }}" data-href="#">
                <td>{{ emp['first_name'] }}</td>
                <td>{{ emp['last_name'] }}
                <td><a href="mailto:{{ emp['email'] | lower }}@mycompany.com">{{ emp['email'] | lower }}@mycompany.com</a></td>
                <td><a href="tel:{{ emp['phone_number'] }}">{{ emp['phone_number'] }}</a></td>
                <td>{{ emp['job_title'] }}</td>
                <td>{{ emp['department_name'] }}</td>
                <td>{{ emp['city'] }}</td>
                <td>{{ emp['country_name'] }}</td>
                <td>{{ emp['region_name'] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
