<table class="table-clickable">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Job title</th>
            <th>Department</th>
            <th>City</th>
            <th>Country</th>
            <th>Region</th>
        </tr>
    </thead>
    <tbody>
        {% for emp in employees_list %}
            <tr id="{{ emp['employee_id'] }}" data-href="#">
                <td>{{ emp['first_name'] }}</td>
                <td>{{ emp['last_name'] }}
                <td><a href="mailto:{{ emp['email'] | lower }}@mycompany.com">{{ emp['email'] | lower }}@mycompany.com</a></td>
                <td><a href="tel:{{ emp['phone_number'] }}">{{ emp['phone_number'] }}</a></td>
                <td>{{ emp['job_title'] }}</td>
                <td>{{ emp['department_name'] }}</td>
                <td>{{ emp['city'] }}</td>
                <td>{{ emp['country_name'] }}</td>
                <td>{{ emp['region_name'] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
