<div id="entholidays_dialog">
    <div id="opHeader">
        <h2 id="opModalTitle">Entitlement to holidays</h2>
        <div id="opCloseModal" onclick="closeOpModal()">&Cross;</div>
    </div>

    <div id="job_emp_name">{{ name }}</div>

    <div class="period">
        <select id="periods" onchange="filter_holidays()">
            {% for yr in legal_years_list %}
                {% if yr == legal_year %}
                    <option value="{{ yr }}" selected>{{ yr }}</option>
                {% else %}
                    <option value="{{ yr }}">{{ yr }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="ehtable">
        <table id="enthol_table">
            <thead>
                <tr>
                    <th>Absence type</th>
                    <th>Entitlement</th>
                    <th>balance</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                {% for holiday in holidays_list %}
                    <tr class="holiday_line tr{{ holiday['legal_year'] }}"
                        data-year="{{ holiday['legal_year'] }}">
                        <td>
                            <input type="hidden" name="row_year" value="">
                            {{ holiday['absence_description'] }}
                        </td>
                        <td>{{ holiday['entitlement'] }}</td>
                        <td>{{ holiday['balance'] }}</td>
                        <td>
                            <form id="eh_form{{ employee_id }}"
                                  hx-target="#job_dialog"
                                  hx-swap="outerHTML"
                            >
                                <input type="hidden" name="absence_description"
                                       value="{{ holiday['absence_description'] }}">
                                <input type="hidden" name="entitlement"
                                       value="{{ holiday['entitlement'] }}">
                                <input type="hidden" name="balance"
                                       value="{{ holiday['balance'] }}">
                                {% if legal_year == holiday['legal_year'] %}
                                    <button type="button"
                                            class="modify_entholiday_button"
                                            onclick="performOperation('update_entholiday_dialog',
                                                                      {{ employee_id }})">
                                        Change entitlement
                                    </button>
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
    <div>

        <button type="button" id="absence_type_button"
                onclick="performOperation('add_entholidays_dialog',{{ employee_id }})">
            +
        </button>
        <span>[add another type of absence]</span>
    </div>
</div>
