<div id="job_history_dialog">
    <div id="opHeader">
        <h2 id="opModalTitle">Job history</h2>
        <div id="opCloseModal" onclick="closeOpModal()">&Cross;</div>
    </div>

    <div id="job_emp_name">{{ name }}</div>

    <div class="jobhisttable">
        <table>
            <thead>
                <tr>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Job title</th>
                    <th>Department</th>
                </tr>
            </thead>
            <tbody>
                {% for job in job_history %}
                    <tr>
                        <td>{{ job['start_date'].strftime("%d/%m/%Y") }}</td>
                        {% if job['end_date'].strftime("%d/%m/%Y") == '31/12/9999' %}
                            <td></td>
                        {% else %}
                            <td>{{ job['end_date'].strftime("%d/%m/%Y") }}</td>
                        {% endif %}
                        <td>{{ job['job_title'] }}</td>
                        <td>{{ job['department_name'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <button type="button" id="job_dialog_button"
                onclick="performOperation('job_dialog',{{ employee_id }})">
            Change Job
        </button>
        <button type="button" id="department_dialog_button"
                onclick="performOperation('department_dialog',{{ employee_id }})">
            Change department
        </button>
    </div>
</div>