<div id="salary_dialog">
    <div id="opHeader">
        <h2 id="opModalTitle">Employee's salary</h2>
        <div id="opCloseModal" onclick="closeOpModal()">&Cross;</div>
    </div>
    <!-- Employee's salary-->
    <div id="sal_emp_name">{{ emp['first_name'] }} {{ emp['last_name'] }}</div>
    <div>
        <div>
            <span>Salary :</span>
            <form
                id="salary_form"
                hx-post="{{ url_for('update_salary_dialog') }}"
                hx-target="#salary_dialog"
                hx-swap="outerHTML"
            >
                <input type="hidden" name="employee_id" value="{{ emp['employee_id'] }}">
                <input type="hidden" name="min_salary" value="{{ min_salary }}">
                <input type="hidden" name="max_salary" value="{{ max_salary }}">
                <input type="hidden" name="cur_salary" value="{{ emp['salary'] }}">
                <input type="text" id="sal" name="new_salary" value="{{ emp['salary'] }}"/>
                <button type="submit" name="action_button" value="job_submit_button" id="job_submit_button">Submit</button>
            </form>
        </div>
        <div>
            <span>Job Title : </span>
            <span style="font-weight: bold;">{{ emp['job_title'] }}</span>
        </div>
        <div>
            <span>Minimum salary : </span>
            <span>{{ min_salary }}</span>
        </div>
        <div>
            <span>Maximum salary : </span>
            <span>{{ max_salary }}</span>
        </div>
    </div>
    {% if err_msg %}
        <div class="err_msg">⚠️ {{ err_msg }}</div>
    {% endif %}
    {% if info_msg %}
        <div class="info_msg">{{ info_msg }}</div>
    {% endif %}
</div>
